__pycache__
.DS_Store
.RData
.Rhistory
.Rproj.user
.vscode
export_*.zip
export_*
node_modules
venv
15-body-temperature/Data\ Files
15-body-temperature/__MACOSX
15-body-temperature/elife-49555-data1-v2.zip
17-unknown-levels/data/out.json
21-voronoi-football/data
25-bach-charts/data/maestro-v2.0.0*
26-the-tate-collection/data
28-covid-leicester/data/coronavirus-cases*.csv
30-land-cover/data/*.zip
30-land-cover/data/readme.txt
30-land-cover/data/*.pdf
35-lego-colours/data/*.zip
35-lego-colours/data/*.csv
